@font-face {
    font-family: 'Chicle';
    src: url('./Chicle-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

.btn{
    border: none;
    display: flex;
    justify-content: space-around;
}
.btn button{
    font-family: 'Chicle';
    font-size: 40px;
    color: rgb(255, 0, 0);
    background: none;
    text-shadow: 5px 0px 0 rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease;
}
.btn button:hover{
     background: rgb(240, 0, 240);
     border-radius: 25px;
     color: rgb(255, 238, 0);     
}

.newbtn{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
    height: 100vh;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: opacity 0.5s ease;
}
.MENU {
    display: flex;
    flex-direction: column;
    color: yellow;
    text-shadow: 3px 1px 0px rgb(255, 0, 0);
}
.menu{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.menuDetails{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    font-size: large;
    color: rgb(0, 0, 0);
}
#content{
    background: url('pic-html.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.home{
    margin: 0;
    font-family: 'Chicle';
    color: rgb(255, 238, 0);
    text-shadow: 20px 12px 0px rgb(0, 0, 0);
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 520px;
}

.cntctElmnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    backdrop-filter: blur(8px);
    border-radius: 15px;
}
svg{
    fill: blueviolet;
    transition: fill 0.2s ease;
    cursor: pointer;
    height: 180px;
    width: 98px;
}
svg:hover{
    fill: red;    
}

.foodType{
    text-align: center;
}
.imgElmnt{
    border: 2px solid sandybrown;
    border-radius: 20px;
}

*{
    margin: 0;
}

html{
    margin: 0;
}
    
body {
    margin: 0;
    font-family: 'Chicle';
}